@use "../abstracts/variables" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: $cold;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: $navy;
  }

  &::-webkit-scrollbar-button {
    height: 2rem;
  }

  @media screen and (max-width: 787px) {
    * {
      &::-webkit-scrollbar {
        width: 0.6rem;
      }
      &::-webkit-scrollbar-track {
        border-radius: 1rem;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 1rem;
      }

      &::-webkit-scrollbar-button {
        height: 2rem;
      }
    }
  }
}

html {
  font-size: 62.5%;
  height: fill-available;
  height: -webkit-fill-available;
  height: -moz-available;

  @media screen and (max-width: 900px) {
    font-size: 56%;
  }

  @media screen and (max-width: 600px) {
    font-size: 50%;
  }
}

body {
  display: flex;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
