@mixin displayFlexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin displayFlexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
