@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.todos-page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  position: relative;

  .no-todos-info {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
    color: rgba($navy, 0.5);
  }

  .todos-page__project-title {
    @include displayFlexCentered;
    text-decoration: underline;
    text-underline-offset: 3px;
    width: 100%;
    font-size: 2.4rem;
    color: $navy;
  }

  .todos-page__todos-list {
    width: 100%;
    display: grid;
    justify-content: center;
    row-gap: 4em;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    padding: 2rem 0.5rem 1.3rem 4rem;
  }

  .add-todo-btn {
    position: absolute;
    border: none;
    box-shadow: 0 0 0.4rem rgba($navy, 0.5);
    bottom: 1.5rem;
    font-size: 1.5rem;
    right: 1rem;
    height: 3rem;
    width: 9rem;
    background-image: linear-gradient(to right, $navy, darken($navy, 10%));
    color: $cold;
    border-radius: 0.5rem;
    transition: all 0.2s;

    &:hover {
      background-image: linear-gradient(
        to right,
        $darkblue,
        darken($darkblue, 10%)
      );
      color: $white;
      box-shadow: 0px 0.5rem 1rem rgba($navy, 0.6);
      transform: translateY(-0.2rem);
    }

    &:active {
      box-shadow: 0px 0.3rem 0.6rem rgba($navy, 0.6);
      transform: translateY(-0.1rem);
    }
  }
}

.card {
  perspective: 100rem;
  height: 20rem;
  position: relative;

  &__side {
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: lighten($cold, 100%);
    border-radius: 0.3rem;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
    transition: all 0.8s;
  }

  &__side--front {
    outline: 1px solid $navy;
    outline-offset: -0.7rem;
    display: grid;
    place-content: center;

    .card:hover & {
      transform: rotateY(-180deg);
    }

    .dueDate {
      font-weight: bold;
      font-size: 1.2rem;
      color: rgba($navy, 0.6);
      text-align: center;

      &.completed {
        text-decoration: line-through;
      }
    }

    .card__title {
      word-break: break-word;
      align-self: center;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      color: $navy;
      text-decoration: underline;
      text-underline-offset: 0.3rem;

      &.completed {
        text-decoration: line-through;
      }
    }
  }

  &__side--back {
    transform: rotateY(180deg);
    display: grid;
    place-content: center;
    .delete-todo-btn {
      @include displayFlexCentered;
      position: absolute;
      top: 1rem;
      right: 0.6rem;
      border: none;
      outline: none;
      background: none;
      color: rgba($navy, 0.5);

      &:hover {
        color: $red;
      }
    }

    #todo-check {
      @include displayFlexCentered;
      position: absolute;
      top: 1rem;
      left: 0.5rem;

      &:checked ~ .card__description {
        text-decoration: line-through;
      }
    }

    .card__description {
      width: 100%;
      padding: 3rem 2.5rem;
      text-align: center;
      font-size: 1.3rem;
      word-wrap: break-word;
      color: $darkblue;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 0.2rem;
      }

      &::-webkit-scrollbar-button {
        height: 1rem;
      }

      scrollbar-color: $cold $navy;
      scrollbar-width: thin;
    }

    .card:hover & {
      transform: rotateY(0deg);
    }
  }
}

////////////////////////////////////////////////
///////////////////////////////////////////////
/// //////////////////////////////////////////
/// media queries

@media screen and (max-width: 787px) {
  .todos-page {
    max-height: 60vh;
    .todos-page__project-title {
      margin-bottom: 4rem;
    }

    .no-todos-info {
      text-align: center;
      left: 55%;
      top: 50%;
      font-size: 1.8rem;
      width: 80%;
    }

    .todos-page__todos-list {
      place-content: center;
      grid-template-columns: 20rem;
      padding: 1rem 1.5rem;
      gap: 2rem;
    }

    .add-todo-btn {
      top: 4.3rem;
      right: 50%;
      transform: translateX(50%);
      height: 2.5rem;
      width: 8rem;
      font-size: 1.5rem;

      &:hover {
        transform: translate(50%, -0.2rem);
      }

      &:active {
        transform: translate(50%, -0.1rem);
      }
    }
  }
}
