*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 0.6rem;
}
*::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: #dbe2ef;
}
*::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #112d4e;
}
*::-webkit-scrollbar-button {
  height: 2rem;
}

html {
  font-size: 62.5%;
  height: fill-available;
  height: -webkit-fill-available;
  height: -moz-available;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@media screen and (max-width: 787px) {
  *::-webkit-scrollbar {
    width: 0.6rem;
  }
  *::-webkit-scrollbar-track {
    border-radius: 1rem;
  }
  *::-webkit-scrollbar-thumb {
    border-radius: 1rem;
  }
  *::-webkit-scrollbar-button {
    height: 2rem;
  }
  html {
    font-size: 50%;
    height: 100%;
    width: 100%;
  }
}
#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(22rem, 17%) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "sidebar main" "sidebar footer";
}

.sidebar {
  grid-area: sidebar;
  background-image: linear-gradient(to bottom left, #3f72af, #2b4d77);
  color: #dbe2ef;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 18.5rem 1fr 7rem;
}

.main-section {
  grid-area: main;
  background-color: #dbe2ef;
  padding: 0.5rem;
  height: 100%;
}

@media screen and (max-width: 787px) {
  #root {
    grid-template-columns: 16rem 1fr;
  }
  .sidebar {
    grid-template-rows: 0.1fr 1fr 0.1fr;
  }
  .main-section {
    overflow-y: auto;
    overflow-x: hidden;
  }
}
.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #112d4e, #03090f);
  padding: 0.5rem;
  letter-spacing: 0.5rem;
}
.header a {
  text-decoration: none;
}

.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  background-image: linear-gradient(to bottom, #dbe2ef, #718dc0);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-transform: uppercase;
}
.header__title i {
  font-size: 3rem;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0.2rem gray;
  gap: 0.5rem;
  color: #112d4e;
  font-size: 1.2rem;
}
.footer i {
  color: #112d4e;
  font-size: 1.3rem;
  transition: transform 0.3s ease-in-out;
}
.footer i:hover {
  transform: rotateY(1turn) scale(1.2);
}

@media screen and (max-width: 787px) {
  .footer {
    gap: 0.3rem;
    font-size: 0.8rem;
  }
  .footer i {
    font-size: 0.9rem;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.home-page {
  display: grid;
  height: 80%;
  place-items: center;
  color: #112d4e;
}
.home-page .subtext {
  text-align: center;
  font-size: 1.6rem;
  -webkit-animation: slideIn 0.5s forwards;
          animation: slideIn 0.5s forwards;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
  transform: translateY(3rem);
  opacity: 0;
}
.home-page .typewriter {
  background-image: linear-gradient(to right, #112d4e, #081524);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  width: 21ch;
  -webkit-animation: typing 2s steps(21), blink 450ms step-end infinite alternate;
          animation: typing 2s steps(21), blink 450ms step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  will-change: width;
  border-right: 3px solid;
  font-size: 2.8rem;
}
.home-page .typewriter.welcome {
  font-weight: bold;
}
.home-page .typewriter.step1 {
  text-align: center;
  width: 20ch;
  -webkit-animation: typing 1.5s steps(20), fadeIn 0.2s forwards;
          animation: typing 1.5s steps(20), fadeIn 0.2s forwards;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
  border: none;
  opacity: 0;
}
.home-page .typewriter.step2 {
  text-align: center;
  width: 22ch;
  -webkit-animation: typing 1.5s steps(22), fadeIn 0.2s forwards;
          animation: typing 1.5s steps(22), fadeIn 0.2s forwards;
  -webkit-animation-delay: 3.2s;
          animation-delay: 3.2s;
  border: none;
  opacity: 0;
}
.home-page .typewriter.step3 {
  text-align: center;
  width: 21ch;
  -webkit-animation: typing 1.5s steps(21), fadeIn 0.2s forwards;
          animation: typing 1.5s steps(21), fadeIn 0.2s forwards;
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
  border: none;
  opacity: 0;
}
.home-page h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 787px) {
  .home-page .typewriter {
    border-right: 0.3rem solid;
    font-size: 1.9rem;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 45, 78, 0.6);
  z-index: 100;
  overflow: auto;
  pointer-events: all;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1rem rgba(17, 45, 78, 0.7);
  width: 36rem;
  height: 42rem;
  background-color: #dbe2ef;
  border-radius: 1rem;
  padding: 2rem;
  z-index: 101;
  overflow: auto;
}
.modal .modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  border: none;
  outline: none;
  background: none;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  color: rgba(17, 45, 78, 0.5);
}
.modal .modal__close-btn:hover {
  color: #a42009;
}
.modal .modal__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  font-size: 1.6rem;
  transform: translateX(-50%);
  border: none;
  outline: none;
  background: none;
  height: 2rem;
  width: 2rem;
  color: rgba(17, 45, 78, 0.5);
}
.modal .modal__submit-btn:hover {
  color: #0f762c;
}
.modal .modal__content {
  width: 100%;
  height: 100%;
  position: relative;
}
.modal .modal__content form {
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal .modal__content form .modal__input-box {
  position: relative;
}
.modal .modal__content form .modal__input-box input[type=text],
.modal .modal__content form .modal__input-box textarea {
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid rgba(17, 45, 78, 0.25);
  background: #f9f7f7;
  border-radius: 0.5rem;
  outline: none;
  color: #112d4e;
  font-size: 1.7rem;
  transition: 0.5s;
}
.modal .modal__content form .modal__input-box input[type=text]:valid ~ label, .modal .modal__content form .modal__input-box input[type=text]:focus ~ label,
.modal .modal__content form .modal__input-box textarea:valid ~ label,
.modal .modal__content form .modal__input-box textarea:focus ~ label {
  color: #112d4e;
  transform: translateX(10px) translateY(-7px);
  padding: 0 1rem;
  font-size: 1rem;
  background: #f9f7f7;
  border-left: 0.1rem solid #112d4e;
  border-right: 0.1rem solid #112d4e;
  letter-spacing: 0.2rem;
}
.modal .modal__content form .modal__input-box input[type=text]:valid, .modal .modal__content form .modal__input-box input[type=text]:focus,
.modal .modal__content form .modal__input-box textarea:valid,
.modal .modal__content form .modal__input-box textarea:focus {
  border: 1px solid #112d4e;
}
.modal .modal__content form .modal__input-box input[type=text] ~ label,
.modal .modal__content form .modal__input-box textarea ~ label {
  position: absolute;
  left: 0;
  padding: 1rem;
  pointer-events: none;
  font-size: 1.4rem;
  color: rgba(17, 45, 78, 0.5);
  text-transform: uppercase;
  transition: 0.5s;
}
.modal .modal__content form .modal__input-box textarea {
  width: 100%;
  height: 20rem;
  resize: none;
}
.modal .modal__content form .modal__input-box.date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.6rem;
  color: rgba(17, 45, 78, 0.6);
}
.modal .modal__content form .modal__input-box.date input {
  color: rgba(17, 45, 78, 0.7);
  padding: 0.5rem;
  border: 0.1rem solid #dbe2ef;
}
.modal .modal__content form .modal__input-box.date input:focus {
  outline: 0.1rem solid #112d4e;
}

@media screen and (min-width: 787px) {
  .modal .modal__submit-btn {
    font-size: 2.2rem;
  }
  .modal .modal__content form .modal__input-box textarea {
    height: 25rem;
  }
  .modal .modal__content form .modal__input-box input[type=text],
.modal .modal__content form .modal__input-box textarea {
    font-size: 1.4rem;
    transition: 0.5s;
  }
  .modal .modal__content form .modal__input-box input[type=text]:valid ~ label, .modal .modal__content form .modal__input-box input[type=text]:focus ~ label,
.modal .modal__content form .modal__input-box textarea:valid ~ label,
.modal .modal__content form .modal__input-box textarea:focus ~ label {
    color: #112d4e;
    transform: translateX(1rem) translateY(-0.7rem);
    padding: 0 1rem;
    font-size: 1.1rem;
    background: #f9f7f7;
    border-left: 0.1rem solid #112d4e;
    border-right: 0.1rem solid #112d4e;
    letter-spacing: 0.2rem;
  }
  .modal .modal__content form .modal__input-box input[type=text]:valid, .modal .modal__content form .modal__input-box input[type=text]:focus,
.modal .modal__content form .modal__input-box textarea:valid,
.modal .modal__content form .modal__input-box textarea:focus {
    border: 0.1rem solid #112d4e;
  }
  .modal .modal__content form .modal__input-box input[type=text] ~ label,
.modal .modal__content form .modal__input-box textarea ~ label {
    position: absolute;
    left: 0;
    padding: 1rem;
    pointer-events: none;
    font-size: 1.4rem;
    color: rgba(17, 45, 78, 0.5);
    text-transform: uppercase;
    transition: 0.5s;
  }
  .modal .modal__content form .modal__input-box.date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 1.5rem;
    color: rgba(17, 45, 78, 0.6);
  }
  .modal .modal__content form .modal__input-box.date label {
    font-size: 1.8rem;
  }
  .modal .modal__content form .modal__input-box.date input {
    color: rgba(17, 45, 78, 0.7);
    padding: 0.4rem;
    border: 0.1rem solid #dbe2ef;
  }
  .modal .modal__content form .modal__input-box.date input:focus {
    outline: 0.1rem solid #112d4e;
  }
}
.sidebar__inbox {
  padding-top: 1rem;
  border-bottom: 0.3rem solid rgba(17, 45, 78, 0.5);
  display: flex;
}
.sidebar__inbox ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 0.5rem;
}
.sidebar__inbox ul li {
  width: 95%;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}
.sidebar__inbox ul li:last-child {
  margin-bottom: 0.5rem;
}
.sidebar__inbox ul li a.navlink_active {
  background-image: linear-gradient(to right, #112d4e, #081524);
  color: #f9f7f7;
}
.sidebar__inbox ul li:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #112d4e, #081524);
  color: #f9f7f7;
}
.sidebar__inbox ul li:hover a span {
  background-image: linear-gradient(to bottom, #3f72af, #325a8a);
}
.sidebar__inbox ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: #dbe2ef;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.sidebar__inbox ul li a div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.sidebar__inbox ul li a span {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #112d4e, #081524);
  color: #dbe2ef;
}

@media screen and (max-width: 787px) {
  .sidebar__inbox ul li a {
    font-size: 1.35rem;
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
  }
  .sidebar__inbox ul li a span {
    width: 2rem;
    height: 2rem;
  }
  .sidebar__inbox ul li:last-child {
    margin-bottom: 0.3rem;
  }
}
.sidebar__projects {
  display: grid;
  place-items: center;
  padding-top: 1.2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem 1fr;
}
.sidebar__projects .sidebar__projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  font-size: 2.4rem;
  gap: 0.5rem;
  color: #dbe2ef;
}
.sidebar__projects .sidebar__projects-list {
  width: 90%;
  height: 100%;
  padding: 0.2rem 0.4rem;
  list-style-position: inside;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sidebar__projects .sidebar__projects-list ul {
  overflow-y: auto;
  max-height: 35rem;
}
.sidebar__projects .sidebar__projects-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2rem;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.sidebar__projects .sidebar__projects-list li [data-open=false] {
  display: none;
}
.sidebar__projects .sidebar__projects-list li [data-open=true] {
  display: block;
}
.sidebar__projects .sidebar__projects-list li [data-open=true] ~ a,
.sidebar__projects .sidebar__projects-list li [data-open=true] ~ .options {
  display: none;
}
.sidebar__projects .sidebar__projects-list li:hover {
  background-image: linear-gradient(to right, #112d4e, #081524);
  color: #f9f7f7;
}
.sidebar__projects .sidebar__projects-list li a {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #dbe2ef;
}
.sidebar__projects .sidebar__projects-list li .options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
}
.sidebar__projects .sidebar__projects-list li .options .fa-trash-alt:hover {
  color: #a42009;
}
.sidebar__projects .sidebar__projects-list li .options .fa-pencil-alt:hover {
  color: #0f762c;
}
.sidebar__projects .sidebar__projects-list li .options.edit-mode {
  display: none;
}

.sidebar__addProject_container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.1rem;
}

.sidebar__add-project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 3.2rem;
  background-image: linear-gradient(to right, #112d4e, #081524);
  color: #dbe2ef;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.sidebar__add-project-btn:hover {
  background-image: linear-gradient(to right, #03396c, #021f3a);
  color: #f9f7f7;
  transform: translateY(-0.2rem);
  box-shadow: 0rem 0.5rem 1rem rgba(17, 45, 78, 0.6);
}
.sidebar__add-project-btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0rem 0.3rem 0.6rem rgba(17, 45, 78, 0.6);
}

.sidebar__add-project-input,
.sidebar__edit-project-input {
  font-size: 1.7rem;
  width: 70%;
}
.sidebar__add-project-input:focus,
.sidebar__edit-project-input:focus {
  outline: none;
}

.sidebar__edit-project-input {
  font-size: 1.5rem;
  width: 100%;
}

.confirm,
.cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: #112d4e;
  color: #dbe2ef;
  border: none;
  text-transform: uppercase;
  transition: all 0.2s;
}

.cancel:hover {
  background-color: #a42009;
  color: #f9f7f7;
}

.confirm:hover {
  background-color: #0f762c;
  color: #f9f7f7;
}

.sidebar__error {
  position: absolute;
  top: -2.5rem;
  color: #a42009;
  font-size: 1.3rem;
}

@media screen and (max-width: 787px) {
  .sidebar__projects .sidebar__projects-title {
    font-weight: normal;
  }
  .sidebar__projects .sidebar__projects-list li {
    font-size: 1.1rem;
  }
  .sidebar__projects .sidebar__projects-list li .options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    font-size: 1.1rem;
  }
  .sidebar__add-project-btn {
    height: 3rem;
    font-size: 1.3rem;
  }
  .sidebar__add-project-input,
.sidebar__edit-project-input {
    font-size: 1.3rem;
    width: 70%;
  }
  .sidebar__add-project-input:focus,
.sidebar__edit-project-input:focus {
    outline: none;
  }
  .sidebar__edit-project-input {
    font-size: 1.3rem;
    width: 100%;
  }
  .confirm,
.cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 2.5rem;
    font-size: 1.2rem;
    background-color: #112d4e;
    color: #dbe2ef;
    border: none;
    text-transform: uppercase;
  }
  .cancel:hover {
    background-color: #a42009;
    color: #f9f7f7;
  }
  .confirm:hover {
    background-color: #0f762c;
    color: #f9f7f7;
  }
  .sidebar__error {
    position: absolute;
    top: -2rem;
    color: #a42009;
    font-size: 1.3rem;
  }
}
.todos-page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  position: relative;
}
.todos-page .no-todos-info {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.7rem;
  color: rgba(17, 45, 78, 0.5);
}
.todos-page .todos-page__project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-underline-offset: 3px;
  width: 100%;
  font-size: 2.4rem;
  color: #112d4e;
}
.todos-page .todos-page__todos-list {
  width: 100%;
  display: grid;
  justify-content: center;
  row-gap: 4em;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  padding: 2rem 0.5rem 1.3rem 4rem;
}
.todos-page .add-todo-btn {
  position: absolute;
  border: none;
  box-shadow: 0 0 0.4rem rgba(17, 45, 78, 0.5);
  bottom: 1.5rem;
  font-size: 1.5rem;
  right: 1rem;
  height: 3rem;
  width: 9rem;
  background-image: linear-gradient(to right, #112d4e, #081524);
  color: #dbe2ef;
  border-radius: 0.5rem;
  transition: all 0.2s;
}
.todos-page .add-todo-btn:hover {
  background-image: linear-gradient(to right, #03396c, #021f3a);
  color: #f9f7f7;
  box-shadow: 0px 0.5rem 1rem rgba(17, 45, 78, 0.6);
  transform: translateY(-0.2rem);
}
.todos-page .add-todo-btn:active {
  box-shadow: 0px 0.3rem 0.6rem rgba(17, 45, 78, 0.6);
  transform: translateY(-0.1rem);
}

.card {
  perspective: 100rem;
  height: 20rem;
  position: relative;
}
.card__side {
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
  transition: all 0.8s;
}
.card__side--front {
  outline: 1px solid #112d4e;
  outline-offset: -0.7rem;
  display: grid;
  place-content: center;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card__side--front .dueDate {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(17, 45, 78, 0.6);
  text-align: center;
}
.card__side--front .dueDate.completed {
  text-decoration: line-through;
}
.card__side--front .card__title {
  word-break: break-word;
  align-self: center;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #112d4e;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.card__side--front .card__title.completed {
  text-decoration: line-through;
}
.card__side--back {
  transform: rotateY(180deg);
  display: grid;
  place-content: center;
}
.card__side--back .delete-todo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 0.6rem;
  border: none;
  outline: none;
  background: none;
  color: rgba(17, 45, 78, 0.5);
}
.card__side--back .delete-todo-btn:hover {
  color: #a42009;
}
.card__side--back #todo-check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}
.card__side--back #todo-check:checked ~ .card__description {
  text-decoration: line-through;
}
.card__side--back .card__description {
  width: 100%;
  padding: 3rem 2.5rem;
  text-align: center;
  font-size: 1.3rem;
  word-wrap: break-word;
  color: #03396c;
  overflow-y: auto;
  scrollbar-color: #dbe2ef #112d4e;
  scrollbar-width: thin;
}
.card__side--back .card__description::-webkit-scrollbar {
  width: 0.2rem;
}
.card__side--back .card__description::-webkit-scrollbar-button {
  height: 1rem;
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}

@media screen and (max-width: 787px) {
  .todos-page .todos-page__project-title {
    margin-bottom: 4rem;
  }
  .todos-page .no-todos-info {
    text-align: center;
    left: 55%;
    top: 50%;
    font-size: 1.8rem;
    width: 80%;
  }
  .todos-page .todos-page__todos-list {
    place-content: center;
    grid-template-columns: 20rem;
    padding: 1rem 1.5rem;
    gap: 2rem;
  }
  .todos-page .add-todo-btn {
    top: 4.3rem;
    right: 50%;
    transform: translateX(50%);
    height: 2.5rem;
    width: 8rem;
    font-size: 1.5rem;
  }
  .todos-page .add-todo-btn:hover {
    transform: translate(50%, -0.2rem);
  }
  .todos-page .add-todo-btn:active {
    transform: translate(50%, -0.1rem);
  }
}/*# sourceMappingURL=main.css.map */