@use "base" as *;

#root {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(22rem, 17%) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar footer";
}

.header {
  grid-area: header;
  @include displayFlexCentered;
  background-color: $navy;
  padding: 0.5rem;
  letter-spacing: 0.5rem;

  & a {
    text-decoration: none;
  }
}

.header__title {
  @include displayFlexCentered;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: $cold;
  text-transform: uppercase;

  & i {
    font-size: 3rem;
  }
}

.sidebar {
  grid-area: sidebar;
  background-color: $blue;
  color: $cold;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 18.5rem 1fr 7rem;
}

.sidebar__inbox {
  padding-top: 1rem;
  border-bottom: 0.3rem solid rgba($navy, 0.5);
  display: flex;
  & ul {
    @include displayFlexCentered;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0.5rem;

    & li:last-child {
      margin-bottom: 0.5rem;
    }

    & li {
      width: 95%;
      border-radius: 0.5rem;
      transition: background-color 0.2s ease-in-out;

      & a.navlink_active {
        background-color: $navy;
        color: $white;
      }

      &:hover {
        cursor: pointer;
        background-color: $navy;
        color: $white;
      }

      &:hover a span {
        background-color: $blue;
      }

      & a {
        @include displayFlexSpaceBetween;
        text-decoration: none;
        color: $cold;
        font-size: 1.7rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;

        & div {
          @include displayFlexCentered;
          gap: 0.6rem;
        }

        & span {
          width: 2.5rem;
          height: 2.5rem;
          @include displayFlexCentered;
          border-radius: 50%;
          background-color: $navy;
          color: $cold;
        }
      }
    }
  }
}

.sidebar__projects {
  display: grid;
  place-items: center;
  padding-top: 1.2rem;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem 1fr;

  & .sidebar__projects-title {
    @include displayFlexCentered;
    padding: 1rem;
    width: 100%;
    font-size: 2.4rem;
    gap: 0.5rem;
    color: $cold;
  }

  & .sidebar__projects-list {
    width: 90%;
    height: 100%;
    padding: 0.2rem 0.4rem;
    list-style-position: inside;
    white-space: nowrap;
    text-overflow: ellipsis;

    & ul {
      overflow-y: auto;
      max-height: 35rem;
    }

    & li {
      @include displayFlexSpaceBetween;
      height: 3.2rem;
      font-size: 1.6rem;
      padding: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;

      & [data-open="false"] {
        display: none;
      }

      & [data-open="true"] {
        display: block;
      }

      & [data-open="true"] ~ a,
      & [data-open="true"] ~ .options {
        display: none;
      }

      &:hover {
        background-color: $navy;
        color: $white;
      }

      & a {
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        color: $cold;
      }

      & .options {
        @include displayFlexCentered;
        gap: 0.5rem;
        font-size: 1.2rem;

        & .fa-trash-alt:hover {
          color: $red;
        }

        & .fa-pencil-alt:hover {
          color: $green;
        }

        &.edit-mode {
          display: none;
        }
      }
    }
  }
}

.sidebar__addProject_container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 0.1rem;
}

.sidebar__add-project-btn {
  @include displayFlexCentered;
  align-self: center;
  height: 3.2rem;
  background-color: $navy;
  color: $cold;
  font-size: 1.7rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;

  cursor: pointer;
  &:hover {
    background-color: $darkblue;
    color: $white;
    transform: translateY(-0.2rem);
    box-shadow: 0rem 0.5rem 1rem rgba($navy, 0.6);
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0rem 0.3rem 0.6rem rgba($navy, 0.6);
  }
}

.sidebar__add-project-input,
.sidebar__edit-project-input {
  font-size: 1.7rem;
  width: 70%;

  &:focus {
    outline: none;
  }
}

.sidebar__edit-project-input {
  font-size: 1.5rem;
  width: 100%;
}

.confirm,
.cancel {
  @include displayFlexCentered;
  width: 35%;
  height: 2.5rem;
  font-size: 1.5rem;
  background-color: $navy;
  color: $cold;
  border: none;
  text-transform: uppercase;
}

.cancel {
  &:hover {
    background-color: $red;
    color: $white;
  }
}

.confirm:hover {
  background-color: $green;
  color: $white;
}

.sidebar__error {
  position: absolute;
  top: -2.5rem;
  color: $red;
  font-size: 1.3rem;
}

.main-section {
  grid-area: main;
  background-color: $cold;
  padding: 0.5rem;
  height: 100%;

  & .home-page {
    display: grid;
    height: 80%;
    place-items: center;
    color: $navy;

    .subtext {
      text-align: center;
      font-size: 1.6rem;
      animation: slideIn 0.5s forwards;
      animation-delay: 2.1s;
      transform: translateY(3rem);
      opacity: 0;
    }

    .typewriter {
      width: 21ch;
      animation: typing 2s steps(21), blink 450ms step-end infinite alternate;
      white-space: nowrap;
      overflow: hidden;
      will-change: width;
      border-right: 3px solid;
      font-size: 2.8rem;

      &.welcome {
        font-weight: bold;
      }

      &.step1 {
        text-align: center;
        width: 20ch;
        animation: typing 1.5s steps(20), fadeIn 0.2s forwards;
        animation-delay: 2.2s;
        border: none;
        opacity: 0;
      }
      &.step2 {
        text-align: center;
        width: 22ch;
        animation: typing 1.5s steps(22), fadeIn 0.2s forwards;
        animation-delay: 3.2s;
        border: none;
        opacity: 0;
      }
      &.step3 {
        text-align: center;
        width: 21ch;
        animation: typing 1.5s steps(21), fadeIn 0.2s forwards;
        animation-delay: 4.7s;
        border: none;
        opacity: 0;
      }
    }

    @keyframes typing {
      from {
        width: 0;
      }
    }

    @keyframes blink {
      50% {
        border-color: transparent;
      }
    }

    @keyframes fadeIn {
      to {
        opacity: 1;
      }
    }

    @keyframes slideIn {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    h2 {
      @include displayFlexCentered;
      width: 100%;
    }
  }
}

.todos-page {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  position: relative;

  & .no-todos-info {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.7rem;
    color: rgba($navy, 0.5);
  }

  & .todos-page__project-title {
    @include displayFlexCentered;
    text-decoration: underline;
    text-underline-offset: 3px;
    width: 100%;
    font-size: 2.4rem;
    color: $navy;
  }

  & .todos-page__todos-list {
    width: 100%;
    display: grid;
    justify-content: center;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    padding: 2rem 0.5rem 1.3rem 4rem;

    & .card {
      position: relative;
      width: clamp(45ch, 60%, 90ch);
      height: 21rem;
      display: flex;
      flex-direction: column;
      padding: 0.4rem;
      background-color: $white;
      border-radius: 1rem;
      box-shadow: 0 0 0.9rem rgba($navy, 0.5);
      overflow-y: auto;
      scroll-behavior: smooth;
      scrollbar-gutter: stable both-edges;

      & .dueDate {
        font-size: bold;
        color: rgba($navy, 0.6);
        width: 100%;
        text-align: center;
      }

      & .card__title {
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
        color: $navy;
        text-decoration: underline;
        text-underline-offset: 0.3rem;
      }

      & .card__description {
        width: 100%;
        padding: 1rem;
        text-align: center;
        font-size: 1.3rem;
        word-wrap: break-word;
        color: $darkblue;
        overflow-y: auto;

        &::-webkit-scrollbar {
          width: 0.3rem;
        }

        &::-webkit-scrollbar-button {
          height: 0.5rem;
        }
      }

      & .delete-todo-btn {
        @include displayFlexCentered;
        position: absolute;
        top: 1rem;
        right: 0.5rem;
        border: none;
        outline: none;
        background: none;
        color: rgba($navy, 0.5);

        &:hover {
          color: $red;
        }
      }

      & #todo-check {
        @include displayFlexCentered;
        position: absolute;
        top: 1.3rem;
        left: 0.5rem;

        &:checked ~ .card__description {
          text-decoration: line-through;
        }
      }
    }
  }

  & .add-todo-btn {
    position: absolute;
    border: none;
    box-shadow: 0 0 0.4rem rgba($navy, 0.5);
    bottom: 1.5rem;
    font-size: 1.5rem;
    right: 1rem;
    height: 3rem;
    width: 9rem;
    background-color: $navy;
    color: $cold;
    border-radius: 1rem;

    &:hover {
      background-color: $darkblue;
      color: $white;
      box-shadow: 0px 0.5rem 1rem rgba($navy, 0.6);
      transform: translateY(-0.2rem);
    }

    &:active {
      box-shadow: 0px 0.3rem 0.6rem rgba($navy, 0.6);
      transform: translateY(-0.1rem);
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($navy, 0.6);
  z-index: 100;
  overflow: auto;
  pointer-events: all;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1rem rgba($navy, 0.7);
  width: 36rem;
  height: 40rem;
  background-color: $cold;
  border-radius: 1rem;
  padding: 2rem;
  z-index: 101;
  overflow: auto;

  & .modal__close-btn {
    @include displayFlexCentered;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    border: none;
    outline: none;
    background: none;
    height: 2rem;
    width: 2rem;
    color: rgba($navy, 0.5);

    &:hover {
      color: $red;
    }
  }

  & .modal__submit-btn {
    @include displayFlexCentered;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    font-size: 1.2rem;
    transform: translateX(-50%);
    border: none;
    outline: none;
    background: none;
    height: 2rem;
    width: 2rem;
    color: rgba($navy, 0.5);

    &:hover {
      color: $green;
    }
  }

  & .modal__content {
    width: 100%;
    height: 100%;
    position: relative;

    & form {
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      & .modal__input-box {
        position: relative;

        & input[type="text"],
        & textarea {
          width: 100%;
          padding: 1rem;
          border: 0.1rem solid rgba($navy, 0.25);
          background: $white;
          border-radius: 0.5rem;
          outline: none;
          color: $navy;
          font-size: 1rem;
          transition: 0.5s;

          &:valid ~ label,
          &:focus ~ label {
            color: $navy;
            transform: translateX(10px) translateY(-7px);
            padding: 0 1rem;
            font-size: 0.7rem;
            background: $white;
            border-left: 0.1rem solid $navy;
            border-right: 0.1rem solid $navy;
            letter-spacing: 0.2rem;
          }

          &:valid,
          &:focus {
            border: 1px solid $navy;
          }

          & ~ label {
            position: absolute;
            left: 0;
            padding: 1rem;
            pointer-events: none;
            font-size: 1rem;
            color: rgba($navy, 0.5);
            text-transform: uppercase;
            transition: 0.5s;
          }
        }

        & textarea {
          width: 100%;
          height: 20rem;
          resize: none;
        }

        &.date {
          @include displayFlexCentered;
          gap: 0.6rem;
          font-size: 1.1rem;
          color: rgba($navy, 0.6);

          & input {
            color: rgba($navy, 0.7);
            padding: 0.5rem;
            border: 0.1rem solid $cold;

            &:focus {
              outline: 0.1rem solid $navy;
            }
          }
        }
      }
    }
  }
}

.footer {
  @include displayFlexCentered;
  box-shadow: 0 0 0.2rem gray;
  gap: 0.5rem;
  color: $navy;
  font-size: 0.7rem;

  & i {
    color: $navy;
    font-size: 0.8rem;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: rotateY(1turn) scale(1.2);
    }
  }
}

@media screen and (max-width: 787px) {
  * {
    &::-webkit-scrollbar {
      width: 0.6rem;
    }
    &::-webkit-scrollbar-track {
      border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
    }

    &::-webkit-scrollbar-button {
      height: 2rem;
    }
  }

  html {
    font-size: 50%;
    height: 100%;
    width: 100%;
  }

  #root {
    height: 100%;
    width: 100%;
    grid-template-columns: 15rem 1fr;
  }

  .sidebar {
    grid-template-rows: 13rem 1fr 6rem;
  }

  .sidebar__inbox {
    & ul {
      & li:last-child {
        margin-bottom: 0.3rem;
      }

      & li {
        & a {
          font-size: 1.1rem;
          padding: 0.4rem 0.8rem;
          border-radius: 0.5rem;

          & span {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }

  .sidebar__projects {
    & .sidebar__projects-title {
      font-size: 1.6rem;
    }

    & .sidebar__projects-list {
      & li {
        font-size: 1rem;

        & .options {
          @include displayFlexCentered;
          gap: 0.5rem;
          font-size: 1rem;
        }
      }
    }
  }

  .sidebar__add-project-btn {
    height: 3rem;
    font-size: 1.3rem;
  }

  .sidebar__add-project-input,
  .sidebar__edit-project-input {
    font-size: 1.3rem;
    width: 70%;

    &:focus {
      outline: none;
    }
  }

  .sidebar__edit-project-input {
    font-size: 1.3rem;
    width: 100%;
  }

  .confirm,
  .cancel {
    @include displayFlexCentered;
    width: 35%;
    height: 2.5rem;
    font-size: 1.2rem;
    background-color: $navy;
    color: $cold;
    border: none;
    text-transform: uppercase;
  }

  .cancel {
    &:hover {
      background-color: $red;
      color: $white;
    }
  }

  .confirm:hover {
    background-color: $green;
    color: $white;
  }

  .sidebar__error {
    position: absolute;
    top: -2rem;
    color: $red;
    font-size: 1.3rem;
  }

  .main-section {
    overflow-y: auto;
    overflow-x: hidden;

    & .home-page {
      .typewriter {
        border-right: 0.3rem solid;
        font-size: 1.9rem;
      }
    }
  }

  .todos-page {
    & .project.title {
      padding-right: 2rem;
    }

    & .no-todos-info {
      text-align: center;
      left: 55%;
      top: 50%;
      font-size: 1.8rem;
      width: 80%;
    }

    & .todos-page__todos-list {
      place-items: center;
      grid-template-columns: 1fr;
      padding: 1rem 2rem;

      & .card {
        width: clamp(30ch, 50%, 60ch);

        & #todo-check {
          top: 1.3rem;
          left: 0.5rem;
          height: 1rem;
        }
      }
    }

    & .add-todo-btn {
      top: 0.7rem;
      right: 0.2rem;
      height: 2rem;
      width: 5rem;
      font-size: 1rem;
    }
  }
  .modal {
    & .modal__content {
      & form {
        & .modal__input-box {
          & input[type="text"],
          & textarea {
            font-size: 1.2rem;
            transition: 0.5s;

            &:valid ~ label,
            &:focus ~ label {
              color: $navy;
              transform: translateX(1rem) translateY(-0.7rem);
              padding: 0 1rem;
              font-size: 0.8rem;
              background: $white;
              border-left: 0.1rem solid $navy;
              border-right: 0.1rem solid $navy;
              letter-spacing: 0.2rem;
            }

            &:valid,
            &:focus {
              border: 0.1rem solid $navy;
            }

            & ~ label {
              position: absolute;
              left: 0;
              padding: 1rem;
              pointer-events: none;
              font-size: 1rem;
              color: rgba($navy, 0.5);
              text-transform: uppercase;
              transition: 0.5s;
            }
          }

          &.date {
            @include displayFlexCentered;
            gap: 0.6rem;
            font-size: 1.3rem;
            color: rgba($navy, 0.6);

            & input {
              color: rgba($navy, 0.7);
              padding: 0.4rem;
              border: 0.1rem solid $cold;

              &:focus {
                outline: 0.1rem solid $navy;
              }
            }
          }
        }
      }
    }
  }

  .footer {
    @include displayFlexCentered;
    box-shadow: 0 0 0.2rem gray;
    gap: 0.3rem;
    color: $navy;
    font-size: 0.8rem;

    & i {
      color: $navy;
      font-size: 0.9rem;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: rotateY(1turn) scale(1.2);
      }
    }
  }
}
